/* Service Card */
.x-service-card {
    @apply md:max-w-[438px] max-w-[400px] w-full bg-[#F5F5F5] py-10 px-8 flex flex-col xl:gap-8 lg:gap-4 gap-4 relative duration-300 ease-in-out transition-all;

    .x-service-card__img {
        @apply relative transition-all duration-300 ease-in-out w-fit;
        img {
            @apply size-[65px] object-contain;
        }
    }

    .x-service-card__title {
        @apply xl:text-4xl lg:text-3xl md:text-2xl text-2xl font-secondary font-normal text-secondary relative duration-300 ease-in-out transition-all;
    }

    .x-service-card__description {
        @apply font-content text-lg font-extralight leading-[120%] line-clamp-4 relative duration-300 ease-in-out transition-all;
    }

    .x-service-card__title:after, 
    .x-service-card__description:after, 
    .x-service-card__img:after {
        @apply content-[''] transition-all duration-300 ease-in-out absolute inset-0;
    }
}

.x-services-slider-style {
    .swiper-slide {
        &:not(.swiper-slide-prev,.swiper-slide-next,.swiper-slide-active) .x-service-card {    
            .x-service-card__title:after, 
            .x-service-card__description:after, 
            .x-service-card__img:after {
                @apply content-[''] absolute inset-0 bg-gray-200;
            }
        }
    }
}

/* Project Card */
.x-project-card {
    @apply w-full max-w-[668px] bg-[#F6F6F6] border border-[#C7C7C7];

    .x-project-card__img {
        @apply w-full object-cover min-w-full h-auto aspect-[16/9] relative;

        &:after {
            @apply content-[''] absolute inset-0 duration-300 ease-in-out transition-all opacity-0;
            background-image: url('/public/noise.gif');
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
            transition: opacity 0.3s ease-in-out;
            z-index: 1;
        }
    
        img {
            @apply w-full object-cover min-w-full h-full;
        }
    }

    .x-project-card__content {
        @apply flex justify-between items-center md:py-6 py-4 md:px-[30px] px-4 font-sans;

        .x-project-card__title {
            @apply text-xl text-black font-bold duration-300 ease-in-out transition-all hover:text-primary;
        }
        .x-project-card__tag {
            @apply text-[12px] font-semibold text-white py-1 px-2 rounded-full bg-black hover:bg-primary duration-300 ease-in-out transition-all;
        }
    }
}

.x-projects-slider-style {
    .swiper-slide {
        &:not(.swiper-slide-active) .x-project-card {    
            .x-project-card__img:after {
                @apply !opacity-100;
            }
        }
    }
}