@import "tailwindcss";
@import './incs/global.css';
@import './incs/btn.css';
@import './incs/card.css';
@import './incs/typography.css';
@import './incs/form.css';

/* Require only if you want to use FlyonUI JS component */
/* @import "/public/plugins/flyonui/variants.css"; */
/* @source "/public/plugins/flyonui/dist/index.js"; */

@plugin "flyonui";
@plugin "@iconify/tailwind4";


/* @custom-variant dark (&:where(.dark, .dark *)); */

:root {
    font-family: 'alien-ai';
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --navbar-height: 74px;

    --secondary-50:  #f1effa;
    --secondary-100: #dcd8f3;
    --secondary-200: #b8b1e6;
    --secondary-300: #958ad8;
    --secondary-400: #7263cb;
    --secondary-500: #161348;
    --secondary-600: #130f3f;
    --secondary-700: #0f0c35;
    --secondary-800: #0c092b;
    --secondary-900: #080621;

    --color-primary:  #3db98a;
    --primary-50:  #e8f8f2;
    --primary-100: #c8efe0;
    --primary-200: #a3e3cb;
    --primary-300: #7ed7b6;
    --primary-400: #58cda1;
    --primary-500: #3db98a;
    --primary-600: #33a67d;
    --primary-700: #2a8b69;
    --primary-800: #216f55;
    --primary-900: #164c3a;

    --dark-gray-100: #C0C0C0;
    --light-gray-200: #EDEEED;

    --font-primary: 'alien-ai';
    --font-secondary: 'Alice';
    --font-content: 'Alexandria', sans-serif;
    --font-inter: 'Inter', sans-serif;
}

@theme inline {
    --color-primary: var(--primary-500);
    --color-primary-50: var(--primary-50);
    --color-primary-100: var(--primary-100);
    --color-primary-200: var(--primary-200);
    --color-primary-300: var(--primary-300);
    --color-primary-400: var(--primary-400);
    --color-primary-500: var(--primary-500);
    --color-primary-600: var(--primary-600);
    --color-primary-700: var(--primary-700);
    --color-primary-800: var(--primary-800);
    --color-primary-900: var(--primary-900);

    --color-secondary: var(--secondary-500);
    --color-secondary-50: var(--secondary-50);
    --color-secondary-100: var(--secondary-100);
    --color-secondary-200: var(--secondary-200);
    --color-secondary-300: var(--secondary-300);
    --color-secondary-400: var(--secondary-400);
    --color-secondary-500: var(--secondary-500);
    --color-secondary-600: var(--secondary-600);
    --color-secondary-700: var(--secondary-700);
    --color-secondary-800: var(--secondary-800);
    --color-secondary-900: var(--secondary-900);

    --color-dark-gray-100: var(--dark-gray-100);
    --color-light-gray-200: var(--light-gray-200);

    --font-secondary: var(--font-secondary);
    --font-primary: var(--font-primary);
    --font-content: var(--font-content);
    --font-inter: var(--font-inter);
}
